[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=3.1.3"
supabase = ">=2.31.0"
pyjwt = ">=2.13.0"
gunicorn = ">=26.2.0"
python-dotenv = "*"

[dev-packages]
pytest = ">=9.1.1"

[scripts]
dev = "flask run --debug"
test = "pytest -q"

[requires]
python_version = "3.13"
